<%= link_to 'Back', home_path(shop: @shop_origin) %>

<p id="notice"><%= notice %></p>

<h1>Options</h1>

<table>
  <thead>
    <tr>
      <th>Collection Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @option.each do |o| %>
      <tr>
        <td><%= o.collection_slug %></td>
        <td><%= link_to 'Show', o %></td>
        <td><%= link_to 'Edit', edit_option_path(o) %></td>
        <td><%= link_to 'Destroy', o, method: :delete, data: { confirm: 'Are you sure?', remote: true } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Option', new_option_path %>
